@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
html {
   font-size: 62.5%;
}

* {
   box-sizing: border-box;
}

body {
   background-color: rgba(5, 4, 16, 1);
   color: white;
   overflow: hidden;
}

.home-page {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
}

.project-logo {
   font-size: 15rem;
   margin: auto;
   color: #2584ff;
}

.project-name {
   font-size: 15rem;
   padding-left: 1rem;
   font-family: "Lobster", cursive;
}

.project-motto {
   font-size: 2rem;
   font-family: "Caveat", cursive;
}
